.timelinehead {
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.timelinehead div {
    font-size: 30px;
}
.timelinebody {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 40px;
}
.timelinepost {
    text-decoration: none;
    color: black;
}
.timelinehidden {
    font-size: 10px;
    color: white;
}
.timelinetitle {
    font-size: 35px;
}
.timelineimgs {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}
.timelinewrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 85px;
    margin-left: 2px;
    margin-right: 2px;
}
.timelinewrap img {
    max-width: 100%;
    max-height: 100%;
}
