.popon {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.popoff {
    display: none;
}
.popbody {
    position: absolute; 
    background-color: black;
    left: 15%;
    right: 15%;
    top: 14%;
    height: 350px;
}
.popimg {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 160px;
    height: 160px;
}
.poptext {
    color: white;
    margin-left: 7%;
    margin-right: 7%;
}
.popfont15 {
    font-size: 18px;
}
.pophighlight {
    text-decoration: underline;
    text-underline-position: under;
}
.popborder {
    border-bottom: 3px solid white;
}
.popclose {
    display: flex;
    flex-direction: row;
    position: absolute;
    color: white;
    bottom: 5px;
    left: 8px;
    width: 94%;
}
.popclosemsg {
    font-size: 13px;
}
.popcloseimg {
    position: absolute;
    right: 0;
    width: 20px;
}
.popcheck {
    transform: translateY(5%);
    border-radius: 50%;
}
