* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Univers';
  src:url('./univers/Univers.otf') format('opentype');
  font-style:normal;
  font-weight:normal;
}
body {
  font-family: Univers, Spoqa Han Sans JP, Spoqa Han Sans;
}
